h1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  padding: 10px;
}

.new_song {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#song_title {
  border-radius: 5px;
  padding: 5px;
  width: 20%;
  margin: 10px;
}

#song_length {
  border-radius: 5px;
  padding: 5px;
  width: 20%;
  margin: 10px;
}

#song_play_count {
  border-radius: 5px;
  padding: 5px;
  width: 20%;
  margin: 10px;
}

label {
  font-family: 'Raleway', sans-serif;
}

input[type="submit"] {
  background: blue;
  border-spacing: 20px;
  width: 20%;
  border-radius: 5px;
  margin-top: 10px;
  height: 25px;
}

input[value="Create Song"] {
  color: white;
}

body {
  background-image: url("/assets/cassette.jpg");
  background-size: cover;
  margin: 40px;
}
