h1 {
  text-align: center;
  font-family: 'Times New Roman';
  font-style: italic;
  font-size: 40px;
  padding: 20px;
}

body {
  background-color: #80ff80;
  margin: 40px;
}

img {
  width: 50px;
  border-radius: 15px 50px 30px;
}

.square_song {
  font-family: 'Helvetica', cursive;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
  font-size: 80%;
}

.element_song {
  background-color: #e0e0eb;
  text-align: center;
  border-radius: 15px 50px 30px;
}
