h1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  padding: 10px;
}

.form_box {

}

.title_box {
  text-align: center;
  width: 20%;
}

.title {
  text-align: center;
}

.length_box {
  text-align: center;
  display: grid;
  grid-column: auto;
}

.play_box {
  text-align: center;
}

.submit_box {

}

body {
  background-image: url("/assets/cassette.jpg");
  background-size: cover;
  margin: 40px;
}
